.editor {
  position: relative;
  transform: translate(100px, 100px);
  width: 800px;
  height: 500px;

  /* grid 단위 */
  --grid-small: 10px; /* 항상 고정 */
  --grid-large: 100px; /* JS에서 덮어씀 */

  background-image:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px),
    linear-gradient(to right, #9ca3af 1.3px, transparent 1.3px),
    linear-gradient(to bottom, #9ca3af 1.3px, transparent 1.3px);

  background-size:
    var(--grid-small) var(--grid-small),
    var(--grid-small) var(--grid-small),
    var(--grid-large) var(--grid-large),
    var(--grid-large) var(--grid-large);

  border-right: 1.3px solid #9ca3af;
  border-bottom: 1.3px solid #9ca3af;
}

/* 실제 타겟 */
.target {
  position: absolute;
  background: lightblue;
  user-select: none;

  transition: transform 0.2s ease;
}
.target.dragging {
  transition: none;
}
.target.selected {
  outline: 2px solid #3b82f6;
  outline-offset: -3px;
}

/* Moveable 기본 UI 숨기기 */
.moveable-line,
.moveable-control {
  opacity: 0;
}
