.editor {
  position: relative;
  width: 100%;
  height: 800px;

  /* JS에서 내려준 값 */
  --grid-size: 50px;
  --grid-large: 250px;

  background-image:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px),
    linear-gradient(to right, #d1d5db 1px, transparent 1px),
    linear-gradient(to bottom, #d1d5db 1px, transparent 1px);

  background-size:
    var(--grid-size) var(--grid-size),
    var(--grid-size) var(--grid-size),
    var(--grid-large) var(--grid-large),
    var(--grid-large) var(--grid-large);
}

/* 실제 타겟 */
.target {
  position: absolute;
  background: lightblue;
  user-select: none;

  transition: transform 0.2s ease;
}
.target.dragging {
  transition: none;
}
.target.selected {
  outline: 2px solid #3b82f6;
  outline-offset: -3px;
}

/* Moveable 기본 UI 숨기기 */
.moveable-line,
.moveable-control {
  opacity: 0;
}
